* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #056838;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-box {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #adadad;
    outline: none;
    transition: 0.3s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #adadad;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    color: #056838;
    font-size: 12px;
}

.button-box button {
    width: 100%;
    padding: 10px;
    background: #056838;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}

.register-link p {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #056838;
    text-decoration: none;
    font-weight: 600;
}
