
/* Thiết lập chung */
.container {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    padding: 8px 15px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
/* --- Top Bar --- */
.top-bar {
    background-color: #28a745;
    /* Màu xanh lá cây */
    color: #fff;
    font-size: 13px;
    padding: 8px 0;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
}

.contact-info span {
    margin-right: 15px;
}

.contact-info .social-icon {
    margin-left: 10px;
    color: #fff;
}

.top-nav a {
    color: #fff;
    margin-left: 20px;
    padding: 5px 0;
}

.top-nav a:hover {
    text-decoration: underline;
}

/* --- Main Navigation --- */
.main-nav {
    background-color: #fff;
}

.main-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links-left {
    padding-left: 20px;
}

.nav-item {
    padding: 10px 20px;
    color: #555;
    font-weight: 600;
    font-size: 15px;
}

.nav-item.active {
    background-color: #28a745;
    /* Màu vàng cam */
    border-radius: 5px;
    color: #fff;
}

.nav-item:not(.active):hover {
    color: #28a745;
    /* Màu xanh dương khi hover */
}


.logo img {
    width: 60px;
    height: 45px;
    /* Điều chỉnh kích thước logo nếu cần */
}
.auth-buttons{
    padding-right: 40px;
}
.auth-buttons .btn {
    margin-left: 10px;
}

.btn-register {
    background-color: #fff;
    color: #28a745;
    border-color: #28a745;
}

.btn-register:hover {
    background-color: #28a745;
    color: #fff;
}

.btn-login {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
}

.btn-login:hover {
    opacity: 0.9;
}

.btn-logout {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.btn-logout:hover {
    opacity: 0.9;
}
