<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
  <app-header></app-header>
  <div class="exersice-container">
    <div class="exersice-grid-3col">
      <!-- Cột trái: thông tin bài thi và banner xanh -->
      <aside class="exersice-sidebar">
        <div class="exam-info">
          <img class="exam-img" [src]="'../../../assets/' + examInfo?.pictures" alt="Ảnh bài thi" />
          <div class="exam-title">{{ examInfo?.examName }}</div>
          <a routerLink="/exam-list" class="return-link">
            <i class="fas fa-chevron-left"></i> Trở lại
          </a>
        </div>
        <div *ngIf="previousResults.length > 0" class="previous-results">
          <h5>Kết quả đã làm trước đó cho bài thi này</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let result of previousResults">
              <div>Điểm: {{ result.score }}</div>
              <div>Ngày: {{ result.created_at | date:'yyyy-MM-dd HH:mm' }}</div>
            </li>
          </ul>
        </div>
        <!-- Banner xanh bên trái -->
        <!-- <div class="banner-green">
          <img src="../../../assets/3.png" alt="Banner xanh" />
          <h4>Học TOEIC hiệu quả</h4>
          <p>Tham gia ngay để nhận tài liệu và ưu đãi đặc biệt!</p>
        </div> -->
        <!-- Banner bên trái mới -->
        <div class="ad-card">
          <img src="../../../assets/banner4.png" alt="Professional MBA for Executives" />
          <h4>Professional MBA for Executives</h4>
          <p>MASTER OF SCIENCE IN CURRICULUM & INSTRUCTION</p>
        </div>
      </aside>

      <!-- Cột giữa: các câu hỏi -->
      <main class="exersice-main">
        <div class="exam-main-info">
          <img class="exam-img-main" [src]="'../../../assets/' + examInfo?.pictures" alt="Ảnh bài thi" />
          <div class="exam-details">
            <div class="exam-title">{{ examInfo?.examName }}</div>
            <ng-container *ngIf="showResult">
              <div class="score-box">
                Bạn đã hoàn thành bài test <b>{{ examInfo?.examName }}</b>
                Với điểm số {{ score }}/{{ questions.length }}
              </div>
              <a class="info-button" routerLink="/">VỀ TRANG CHỦ</a>
            </ng-container>
          </div>
        </div>

        <!-- Thêm mô tả bài test ở đây -->
        <div class="exam-description">
          <h4 class="desc-title">PREPOSITION TEST</h4>
          <p>
            In the reading test, you will read a variety of texts and answer several different types of reading comprehension questions. The entire Reading Test will last 75 minutes. There are three parts, and directions are given for each part. You are encouraged to answer as many questions as possible within the time allowed.
          </p>
        </div>

        <form *ngIf="questions.length > 0" (ngSubmit)="submitAnswers()" class="questions-form">
          <div class="question-body" *ngFor="let question of questions; let idx = index">
            <div class="question-detail">
              <h5>QUESTION {{ idx + 1 }}</h5>
              <p>{{ question.content }}</p>
              <div class="row-answer">
                <input type="radio" [name]="'q' + idx" value="A" [(ngModel)]="userAnswers[idx]" [ngModelOptions]="{standalone: true}"> (A) {{ question.answerA }}
              </div>
              <div class="row-answer">
                <input type="radio" [name]="'q' + idx" value="B" [(ngModel)]="userAnswers[idx]" [ngModelOptions]="{standalone: true}"> (B) {{ question.answerB }}
              </div>
              <div class="row-answer">
                <input type="radio" [name]="'q' + idx" value="C" [(ngModel)]="userAnswers[idx]" [ngModelOptions]="{standalone: true}"> (C) {{ question.answerC }}
              </div>
              <div class="row-answer">
                <input type="radio" [name]="'q' + idx" value="D" [(ngModel)]="userAnswers[idx]" [ngModelOptions]="{standalone: true}"> (D) {{ question.answerD }}
              </div>
            </div>
            <div *ngIf="showResult">
              <div *ngIf="userAnswers[idx] === question.answerCorrect; else wrongAns" class="result-box-yes">
                <h3><i class="fas fa-check"></i> Xin chúc mừng bạn đã trả lời đúng!</h3>
              </div>
              <ng-template #wrongAns>
                <div class="result-box-no">
                  <h3><i class="fas fa-times"></i> Rất tiếc bạn đã trả lời sai!</h3>
                </div>
              </ng-template>
            </div>
          </div>
          <button type="submit" class="btn btn-success mt-3" *ngIf="!showResult">Nộp bài</button>
        </form>
      </main>

      <!-- Cột phải: giống trang home -->
      <aside class="exersice-rightbar">
        <div class="userinfo-card">
          <div class="userinfo-avatar">
            <span class="userinfo-avatar-circle">T</span>
          </div>
          <div class="userinfo-name">Unknown</div>
          <div class="userinfo-score">1/86</div>
        </div>
        <div class="member-card">
          <i class="fas fa-users member-icon"></i>
          <div class="member-title">Thành viên</div>
        </div>
        <div class="banner-card">
          <h4 class="banner-title-red">Ưu đãi Hấp dẫn</h4>
          <img src="../../../assets/banner2.png" alt="Ưu đãi hấp dẫn" />
        </div>
      </aside>
    </div>
  </div>
</body>
</html>
